@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Luxurious+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

html,
body {
    height: 100%;
}

.main-section {
    position: relative;
    min-height: 100%;
    opacity: 0.7;
}

.main-img {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100%;

}
.main-head {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 27px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 10px    ;
}
.border {
    padding: 17px 20px;
    background-color: black;

}
.section-one {
    background-color: #f4f4f4;
    opacity: 0.7;
    height: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-two {
    background-color:black;
    color: #f4f4f4;
    opacity: 0.8;
    height: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-one h2 {
    font-size: 25px;
    padding-top: 25px;
    margin-bottom: 20px;
}
.section-two h2 {
    font-size: 25px;
    padding-top: 25px;
    margin-bottom: 20px;
}
.h2-info {
    padding: 0 120px;
}
.section-one-p {
    opacity: 0.7;
    position: relative;
}
.section-two-p {
    opacity: 0.7;
    position: relative;
}

.one-p {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;

}
.two-p {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.three-p {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.the-p {

    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 800px;
}